.red {
    color: red;
}

.black {
    color: black;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.font-size-100 {
    font-size: 100px;
}
.font-size-200 {
    font-size: 200px;
}
.font-size-300 {
    font-size: 300px;
}
.font-size-400 {
    font-size: 400px;
}