.Acco-main {
    margin: 0 auto;
    width: 1170px;
}

h4 {
    text-align: center;
    margin: 20px 0 80px;
    font-weight: 400;
    letter-spacing: 3px;
}

h5{
    margin-bottom: 40px;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 16px;
}

.Acco {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.Acco div {
    height: 40px;
    padding: 13px;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    opacity: 0.8;
    cursor: pointer;
}

.Acco div:hover {
    background-color: #eee;
}

.Acco p {
    background-color: #fff;
    color: #000;
    margin-bottom: 0;
    font-size: 13px;
    padding: 13px;
    line-height: 30px;
}
