.tabs-main {
    text-align: center;
}

.tabs-info {
    display: flex;
    justify-content: center;
}

.tabs-info div {
    min-width: 150px;
    cursor: pointer;
    height: 51px;
    line-height: 51px;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 12px;
}

.tabs-info div:hover {
    background-color: #eee;
}

.tabs-txt {
    font-weight: 400;
    font-size: 13px;
    margin-top: 25px
}

.a {
    display: block;
    width: 600px;
    margin: auto
}