.tabs-main {
    text-align: center;
}

.tabs-info {
    display: flex;
    justify-content: center;
}

.tabs-info button {
    min-width: 150px;
    cursor: pointer;
    height: 51px;
    line-height: 51px;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 12px;
    border: none;
    background-color: #fff;
}

.tabs-info button:hover {
    background-color: #eee;
}

.tabs-info button:focus {
    background-color: #2ecc71;
    border-style: none;
}

.tabs-txt {
    font-weight: 400;
    font-size: 13px;
    margin-top: 25px
}

.tabs {
    display: block;
    width: 600px;
    margin: auto
}

