.SocialBlock,
.Profile,
.ChartBar1 {
    border: 1px solid #000;
    margin: 20px;
}

.Profile {
    padding: 30px 20px;
    width: 50%;
    box-shadow: 3px 3px rgba(0,0,0,0.3);
}

.SocialBlock {
    padding: 10px 0;
}

.ChartColumn {
    display: flex;
    justify-content: space-around;
    gap: 10px
}